@tailwind base;
@tailwind components;
@tailwind utilities;

/* If the user prefers dark mode, we of course apply color-scheme: dark, as usual */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* If the user prefers light mode, we still enforce color-scheme: dark, despite the user preference */
@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}

@layer base {
  body {
    @apply bg-gray-100 text-sm text-slate-50 md:text-sm;
  }

  .h1,
  h1 {
    @apply text-xl font-semibold leading-tighter md:text-4xl;
  }

  .h2,
  h2 {
    @apply text-xl font-semibold leading-tight md:text-3xl;
  }

  .h3,
  h3 {
    @apply text-base font-semibold leading-relaxed md:text-xl;
  }

  .h4,
  h4 {
    @apply text-base font-semibold leading-normal;
  }

  .h5,
  h5 {
    @apply text-sm font-semibold leading-normal;
    margin-bottom: -10px;
    margin-top: 16px;
  }

  p {
    @apply font-normal leading-snug tracking-snug md:leading-normal;
  }
}

.prose.prose-custom div {
  display: inline;
}

.prose.prose-custom li p {
  margin: 0;
}

.prose.prose-custom .man {
  color: rgb(101, 165, 224);
  font-weight: bold;
}

.prose.prose-custom .cld {
  color: #cbbd44;
  font-weight: bold;
  letter-spacing: 0.017px;
}

.prose.prose-custom .cst {
  color: #ababab;
  font-weight: bold;
  letter-spacing: 0.337px;
}

.prose.prose-custom .dmg {
  color: #ffaa00;
  font-weight: bold;
}

.prose.prose-custom .red {
  color: #ed2939;
  font-weight: bold;
}

.prose.prose-custom .rad {
  font-weight: bold;
  letter-spacing: -0.344px;
}

.prose.prose-custom .rng {
  font-weight: bold;
  letter-spacing: -0.014px;
}

.prose.prose-custom .trg {
  font-weight: bold;
  letter-spacing: 0.323px;
}

.prose.prose-custom .prc {
  font-weight: bold;
  letter-spacing: 0.212px;
}

.prose.prose-custom .syn {
  @apply text-violet-400;
}

.prose.prose-custom .add {
  @apply text-green-500;
}

.prose.prose-custom h4 + ul {
  margin-top: -8px;
}

.prose.prose-custom ul {
  margin-bottom: 0;
}

.prose.prose-custom li:last-of-type {
  margin-bottom: 0;
}
